@import 'https://fonts.googleapis.com/css?family=Mada:400,500';
body {
  font-family: "Mada", sans-serif;
  margin: 220px 0px 50px;
  background-color: #000;
  min-height: 100vh;
  position: relative;
  padding-top: 200px;
  max-width: auto;
}
body.scrolled .nav {
  background-color: #d10015;
}

/* NAV-BAR */
.nav {
  height: 100px;
  transition: width 0.2s ease-in-out;
  background-color: #d10015;
  z-index: 2;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.nav-bar-top {
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -200px;
}

.nav-bar-scrolled {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
}

.nav-logo {
  max-height: 65px;
  display: block;
  margin-left: 40px;
}
.nav-logo i {
  font-size: 35px; /* Adjust the font size of the icon */
  color: #333; /* Adjust the color of the icon */
}

.menu-list {
  display: flex;
  width: 65%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  height: 90px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px;
}

.nav-link {
  letter-spacing: 0.15em;
  font-size: 1em;
  color: #1b1b1b;
  font-weight: 500;
  text-decoration: none;
}
.nav-link:hover {
  color: #e0696c;
}

#menu-toggle {
  display: none;
}

.label-toggle {
  display: none;
}

header h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 1em;
}

.parallax-section {
  /* The image used */
  background-image: url("../img/pexels-wendy-wei-1699161.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hvem {
  height: 130vh;
}

#hvem h2 {
  color: #fff;
  text-align: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}

.image-item {
  text-align: center;
  position: relative;
}
.image-item img {
  width: 70%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}
.image-item img:hover {
  transform: scale(1.1);
}
.image-item .image-text {
  margin-top: 10px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.image-item .image-text:hover {
  opacity: 1;
}

.MyBand {
  height: 40vh;
}

.MyBand h2 {
  color: #fff;
  text-align: center;
}

.MyBand p {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.hero {
  position: relative;
  overflow: hidden;
  width: 50%;
  margin: auto; /* Center the hero horizontally */
  height: 130vh;
}
.hero .slider {
  display: flex;
  transition: transform 3s ease-in-out;
}
.hero .slider .slide {
  min-width: 100%;
}
.hero .slider .slide img {
  width: 100%;
  height: auto;
}
.hero .bullets {
  position: absolute;
  bottom: 600px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.hero .bullets .bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.hero .bullets .bullet.active-bullet {
  background-color: #555;
}

/* Footer Styles */
.footer {
  position: absolute;
  bottom: 0;
  background: #242424;
  color: #fff;
  z-index: 1;
  --footer-background: #d10015;
  display: grid;
  grid-area: footer;
  width: 100%;
}
.footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 8rem;
  background: var(--footer-background);
}
.footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
.footer .footer-logo {
  font-size: 35px; /* Adjust the font size of the icon */
  color: #333; /* Adjust the color of the icon */
  margin-left: 1em;
  margin-top: 0.5em;
}
@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 7rem);
    height: var(--size, 7rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -1px;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
.footer .footer-content {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--footer-background);
}
.footer .footer-content .footer-section {
  flex: 1;
  margin: 10px;
}
.footer .footer-content .links ul li a {
  color: #fff;
}
.footer .footer-content h1 {
  font-size: 24px;
}
.footer .footer-content p {
  font-size: 16px;
}
.footer .footer-content ul {
  list-style: none;
}
.footer .footer-content ul li {
  margin-bottom: 10px;
  color: #f8f8f8;
}
.footer .footer-content .contact-input {
  width: 82%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ffffff;
  background-color: #8a8a8a;
  border-radius: 0;
}
.footer .footer-content .btn-primary {
  background-color: #ff5733;
  color: #fff;
  border: none;
  top: 0%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ff5733;
}
.footer .footer-content .btn-primary:hover {
  transition: 100ms;
  background-color: #333;
  color: #ff5733;
  border: 1px solid #ff5733;
}
.footer .footer-bottom {
  background: #222;
  text-align: center;
  padding: 0 0;
}
.footer .about-logo {
  text-align: center;
  padding: 20px;
}
.footer .about-logo img {
  max-width: 100%;
  max-height: 100%;
  background: #333;
  border: 1px solid #333;
  border-radius: 50%;
  max-width: 100px;
  height: auto;
}

@media screen and (max-width: 961px) {
  .nav {
    width: 100%;
    position: fixed;
    top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0;
  }
  .nav-logo {
    top: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 3em;
    right: 0;
  }
  .label-toggle {
    cursor: pointer;
  }
  .menu-list {
    background-color: #fff;
    width: 100%;
    margin: 90px auto 0px;
    display: none;
    list-style-type: none;
    opacity: 0;
    padding: 0;
    text-align: center;
    visibility: hidden;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
  }
  .menu-list li {
    border-top: 2px solid #e0696c;
    color: #000;
    display: block;
    max-width: 100%;
    font-size: 1.2em;
    padding: 1em 0;
  }
  .menu-list:last-of-type {
    border-bottom: 2px solid #e0696c;
  }
  #menu-toggle:checked ~ .menu-list {
    opacity: 1;
    height: auto;
    visibility: visible;
  }
  .label-toggle {
    display: block;
    height: 35px;
    margin-top: 27.5px;
    width: 35px;
    top: 0px;
    position: absolute;
    right: 20px;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-link {
    display: block;
    margin: 15px 0;
  }
}
.hamburger {
  background: linear-gradient(to bottom, #e0696c 0%, #e0696c 20%, transparent 20%, transparent 40%, #e0696c 40%, #e0696c 60%, transparent 60%, transparent 80%, #e0696c 80%, #e0696c 100%);
}/*# sourceMappingURL=main.css.map */